<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/academics/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Aug 2021 21:06:56 GMT -->
<head>
    <title>{{ pg['title']|title }} : ESCET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet"
          href="/static/fonts%2c_icomoon%2c_style.css%2bcss%2c_bootstrap.min.css%2bcss%2c_jquery-ui.css%2bcss%2c_owl.carousel.min.css%2bcss%2c_owl.theme.default.min.css%2bcss%2c_owl.theme.default.min.css"/>
    <link href="/static/css/A.jquery.mb.YTPlayer.min.css.pagespeed.cf.N2G3N4O1x5.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/A.style.css.pagespeed.cf.SghS18xLJ1.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <div class="py-2 bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 d-none d-lg-block">
                    <a href="/contact" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                    <a href="tel:{{ replacer(details['mobile'], ' ', '') }}" class="small mr-3"><span class="icon-phone2 mr-2"></span> {{ details['mobile'] }}</a>
                    <a href="mailto:{{ details['mail'] }}" class="small mr-3"><span class="icon-envelope-o mr-2"></span> <span class="__cf_email__" data-cfemail="3c55525a537c51455853515d5552125f5351">[{{ details['mail'] }}]</span></a>
                </div>
                <div class="col-lg-3 text-right">
                    <a href="/login" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
                    <a href="/register" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="index.html" class="d-block">
                        <img src="/static/images/xlogo.jpg.pagespeed.ic.fRho2_GusO.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>

                <div class="mr-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            {#                            <li class="active">#}
                            {#                                <a href="index.html" class="nav-link text-left"><i class="icon-books"></i> Home</a>#}
                            {#                            </li>#}
                            {#                            <li class="has-children">#}
                            {#                                <a href="about.html" class="nav-link text-left">About Us</a>#}
                            {#                                <ul class="dropdown">#}
                            {#                                    <li><a href="teachers.html">Our Teachers</a></li>#}
                            {#                                    <li><a href="about.html">Our School</a></li>#}
                            {#                                </ul>#}
                            {#                            </li>#}
                            {% for foo in info['menu'] %}
                                {% if info['menu'][foo][2] %}
                                    <li class="has-children">
                                        <a href="{{ foo }}" class="nav-link text-left"><i class="icon-{{ info['menu'][foo][0] }}"></i> {{ info['menu'][foo][1] }}</a>
                                        <ul class="dropdown">
{#                                            <li><a href="teachers.html">Our Teachers</a></li>#}
                                            {% for menu in info['menu'][foo][2] %}
                                                <li><a href="{{ replacer(menu, ' ', '_') }}">{{ menu|title }}</a></li>
                                            {% endfor %}

                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ foo }}" class="nav-link text-left"><i class="icon-{{ info['menu'][foo][0] }}"></i> {{ info['menu'][foo][1] }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="ml-auto">
                    <div class="social-wrap">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% if pg['title'] == 'Welcome' %}
        <div class="hero-slide owl-carousel site-blocks-cover">
            <div class="intro-section" style="background-image:url(/static/images/xhero_1.jpg.pagespeed.ic.-yaFVozZ39.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                            <h1>Academics University</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-section" style="background-image:url(/static/images/xhero_1.jpg.pagespeed.ic.-yaFVozZ39.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                            <h1>You Can Learn Anything</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    {% else %}

        <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image:url(/static/images/xbg_1.jpg.pagespeed.ic.bYKh1zv1gk.jpg)">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7">
                        <h2 class="mb-0">{{ pg['title']|upper }}</h2>
                        <p>{{ pg['sub'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-breadcrumns border-bottom">
            <div class="container">
                <a href=".">Home</a>
                <span class="mx-3 icon-keyboard_arrow_right"></span>
                <span class="current">{{ pg['title']|title }}</span>
            </div>
        </div>
    {% endif %}

    
    
    
    
    
    
